.header--market-place-4 .header__top, .header--mobile .header__top {
    background-color: #fff !important;
    color: #000000 !important;
}
.ps-shopping-product .ps-product__thumbnail{
    height:180px;
}
.ps-top-categories .ps-block--category{
    height: 240px;
}
 .menu--product-categories .menu--dropdown {
    min-width: 340px !important;
}
li.current-menu-item.active a {
    color: #ffcc00 !important;
}
.pincode-box{
    padding-right: 15px;
    background-color: #ffcc00;
    color: #ffffff;
    font-size: 17px;
    border-radius: 15px;
    padding-left: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: 600 !important;
    cursor: pointer;
}
.pincode{
    margin-right: 10px;
}
.mobile-menu-pin{
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: auto;
    border-bottom: 0px !important;
}
.full-pin-bottom-menu{
    position: absolute;
    right: 30px;
    line-height: 20px;
}
.right-nav{
    height: 50px !important;
}
.full-pin-bottom-menu .pincode-box{
    background-color: #000000;
    padding-top: 4px;
}
.mobile-menu-pin .pin-li{
    width: 50%;
    display: inline-block !important;
    padding-top: 60px;
}
/* .list_product_description{
        width:470px;
} */
#pin-li{
    display: inline-flex;
}
#change-pin{
    line-height: 28px;
    padding-right: 10px;
    font-size: 15px;
    color: #000;
}
.load-product{
    width: 100%;
    text-align: center;
}
.other-sellers{
    margin-top:20px;
}
.seller-price{
    font-size: 17px;
}
.vendor-button{
    display: inline-block;
    padding: 10px 45px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 20px !important;
    /* color: #000 !important; */
    border: none !important;
    font-weight: 600 !important;
    border-radius: 4px !important;
    /* background-color: #ffcc00 !important; */
    transition: all .4s ease !important;
    cursor: pointer !important;
    height: 60px !important;
    text-align: center;
    max-width: 100%;
    min-width: 240px;
}
.km-span-list{
    background: #ffcc00;
    border: 1px solid #ffcc00;
    font-size: 14px;
    color: #fff !important;
    font-weight: 600;
    border-radius: 15px;
    margin-bottom: 3px;
    width: 100% !important;
    display: inline-block;
    text-align: center;
}
.pickup-span{
    background: #9e9d97 !important;
    border: 1px solid #9e9d97 !important;
}
.km-div{
    background: #ffcc00;
    border: 1px solid #ffcc00;
    font-size: 13px;
    color: #fff !important;
    font-weight: 600;
    padding: 0px 15px;
    border-radius: 15px;
    margin-bottom: 5px;
}
.km-button{
    background: #ffcc00;
    border: 1px solid #ffcc00;
    font-size: 18px;
    color: #fff !important;
    font-weight: 600;
    padding: 0px 15px;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 0px;
}
.ps-product--detail .ps-product__price.sale del {
    color: #fb0101 !important;
}
.ps-product--detail .ps-product__price.sale {
    color: #000  !important;
}
.errorbox{
    width: 185px !important;
    margin-top: 14px !important;
}
.error-pin{
    color: #fb0101;
    position: fixed;
    width: 360px;
    text-align: center;
    margin-bottom: 0px;
    line-height: 15px;
}
.pininput-div{
    margin-top: 60px;
}
.cart-text{
    width: 100%;
    text-align: center;
    margin: 0px 0px 25px;
    font-size: 30px;
    color: #ffcc00;
}
.empty-cart span{
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    margin-top: 15px;
}
.empty-cart .ps-cart__footer{
    border: none;
}
.empty-cart figure{
    text-align: center;
    display: block;
    border: none;
}
a.storage,a.weight,a.measurement,a.storage {
    text-transform: uppercase;
}
a.storage.active,a.weight.active,a.measurement.active,a.storage.active {
    background: #ffcc00;
    color: #fff;
}
.logo-text{
    margin: 5px 5px 10px 14px !important;
    font-size: 21px;
    display: inline;
    color: #000000;
    font-weight: 600;
    padding: 10px !important;
}
.detail-page-box  .ps-product__thumbnail {
    height: 250px !important;
}
td.checkout-product-name, td.checkout-product-name, td.checkout-item-total {
    font-size: 16px;
}
p.checkout-delivery {
    margin-top: 7px;
}
.error,.attrbibute-error{
    color: #d80505;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 5px;
}
.product-function-grid .col-md-3{
    margin: auto;
    text-align: center;
}
.product-function-grid .col-md-3 img{
    width: 45px;
}
.product-function-grid .col-md-3 p{
    width: 100%;
    text-align: center;
}
.width-300{
    min-width:298px !important;
}
#product-quickview{
    z-index:10000;
}
.ps-product__info .ps-product__price.sale {
    color: #f30 !important;
    font-size: 18px;
}
.ps-product__info .ps-product__price.sale del {
    color: #666 !important;
}
.success-msg{
    font-size: 17px;
    font-weight: 500;
    color: #034e02;
}
.error-msg{
    font-size: 17px;
    font-weight: 500;
    color: #f31308;
}
.ps-variant.ps-variant--color.colour.select {
    border: 2px solid #ffcc00 !important;
}
.ps-variant.ps-variant--size.storage.select span.ps-variant__size,.ps-variant.ps-variant--size.measurement.select span.ps-variant__size,.ps-variant.ps-variant--size.size.select span.ps-variant__size,.ps-variant.ps-variant--size.weight.select span.ps-variant__size {
    color: #fff;
}
.ps-variant.ps-variant--size.storage.select,.ps-variant.ps-variant--size.measurement.select,.ps-variant.ps-variant--size.size.select,.ps-variant.ps-variant--size.weight.select {
    background: #ffcc00;
    border-color: #ffcc00 !important;
}
.cart-attr .ps-variant.ps-variant--color {
    width: 15px  !important;
    height: 15px  !important;
}
.ps-product--header-sticky .ps-product__title{
    width: 770px;
}
.cart-attr{
    text-transform: uppercase !important;
    font-size: 16px !important;
    margin-bottom: 0px !important;
}
.list_prodouct_action li {
    padding: 0px 56px;
}
.ps-shopping-product .list_prodouct_action li {
    padding: 0px 22px;
}
.space-15{
    margin-right:15px;
}
.payment-cart .ps-block--checkout-order figure {
    margin-bottom: 6px !important;
    padding-bottom: 6px !important;
    border-bottom: 1px solid #eaeaea;
}
.code-btn{
    background: #b5b3b3;
    border: 1px solid #b5b3b3;
    color: #fff !important;
    border-radius: 15px;
    margin-bottom: 3px;
    width: 50% !important;
    display: inline-block;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    padding: 4px !important;
    margin-top: 15px;
}
.show-in-mobile{
    display:none;
}
.order-product-image{
    min-width: 60px !important;
}
.order-status{
    border-radius: 10px;
    padding: 4px 13px;
    font-weight: 400;
}
.order-pending_payment{
    background: rgb(235, 44, 44);
    color: #fff;
}
.order-pending{
    background: rgb(233, 92, 26);
    color: #fff;
}
.order-cancel_by_vendor{
    background:rgb(233, 92, 26);
    color: #fff;
}
.order-processing{
    background: #2f1ae9;
    color: #fff;
}
.order-delivered{
    background: #ffcc00;
    color: #fff;
}
.order-completed{
    background: rgb(2, 187, 58);
    color: #fff;
}
.order-cancelled{
    background: rgb(235, 44, 44);
    color: #fff;
}
.ps-block--vendor-dashboard .ps-block__header {
    margin-bottom: 20px;
    padding-bottom: 16px;
    border-bottom: none;
    margin-top: 15px;
}
.mt25{
    margin-top: 25px;
}
.mt10{
    margin-top: 10px;
}
.map-icon{
    display: inline;
    font-size: 20px;
    color: #cea606;
}
.track-btn{
    /* margin-left:-10px; */
}
.w175{
    width: 175px;
}
.no-border{
    border: none !important;
    margin: 0px !important;
    padding: 0px 0px 21px 0px !important;
}
.ps-product__shopping{
    padding-bottom: 10px;
}
.loader{
    width:500px;
}
.mt45{
    margin-top: 45px;
}
.delete-btn{
    color: #fdfdfd !important;
    background: #f50000;
}
#cartDelete p{
    width: 100%;
}
@media only screen and (max-width: 600px) {
    .product-function-grid .col-md-3 {
        margin: auto;
        text-align: center;
        width: 50% !important;
        padding-top: 20px !important;
    }
    .product-function-grid .col-md-3 p {
        width: auto;
        text-align: center;
    }
    a#addToCart {
        width: 47.8%;
        flex-basis: 50%;
        font-size: 16px;
        border-radius: 0;
        text-align: center;
        /* margin-top: 10px;
        margin-bottom: 10px; */
        padding-left: 0px;
        padding-right: 0px;
    }
    .ps-variant.ps-variant--size {
        width: 70px;
    }
    .ps-page--product .ps-page__container .ps-page__right {
        width: 100% !important;
        min-width: 100% !important;
        max-width: 100% !important;
    }
    .hide-in-mobile{
        display: none !important;
    }
    .show-in-mobile{
        display: block !important;
    }
    .ps-block--vendor-dashboard {
        margin-bottom: 40px;
        margin-top: 40px;
    }
    .endcol{
        text-align: start !important;
    }
    .link {
        margin-left: 0% !important;
    }
    .order-product-image{
        min-width: 60px !important;
        max-width: 170px !important;
    }
    .img-div{
        margin:auto;
        text-align: center;
    }
    .order-product{
        text-align: center;
        margin-top: 15px;
    }
    .suborder-main .product {
        padding-bottom: 20px;
        padding-right: 0px;
        margin: 0px;
        padding-left: 0px;
    }
    .vendor-item{
        border-top: 1px solid gray;
        padding-bottom: 10px;
        padding-top: 13px;
        line-height: 29px;
        margin: auto;
    }
    .vendor-products{
        margin: auto;
    }
    .ps-product__thumbnail{
        margin: auto;
    }
    .ps-product .ps-product__actions li:nth-child(1){
        margin-left: 10%;
    }
    .ps-product .ps-product__actions li:nth-child(2){
        margin-left: -30% !important;
    }
    .ps-product .ps-product__actions li a {
        display: inline-block;
    }
    .ps-form--subscribe-popup p {
        margin-bottom: 10px;
        width: 230px;
    }
    .ps-footer .km-span-list {
        min-width: 50px;
        width: 100%;
        max-width: 150px;
    }
}
@-webkit-keyframes blurIn {
    0% {
      -webkit-transform: translate3d(0, -60px, 0) scale(0.9, 2);
              transform: translate3d(0, -60px, 0) scale(0.9, 2);
      -webkit-filter: blur(3px);
              filter: blur(3px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) scale(1);
              transform: translate3d(0, 0, 0) scale(1);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }

  @keyframes blurIn {
    0% {
      -webkit-transform: translate3d(0, -60px, 0) scale(0.9, 2);
              transform: translate3d(0, -60px, 0) scale(0.9, 2);
      -webkit-filter: blur(3px);
              filter: blur(3px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) scale(1);
              transform: translate3d(0, 0, 0) scale(1);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @-webkit-keyframes blurOut {
    0% {
      -webkit-transform: translate3d(0, 0, 0) scale(1);
              transform: translate3d(0, 0, 0) scale(1);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translate3d(0, 60px, 0) scale(0.9, 2);
              transform: translate3d(0, 60px, 0) scale(0.9, 2);
      -webkit-filter: blur(3px);
              filter: blur(3px);
      opacity: 0;
    }
  }
  @keyframes blurOut {
    0% {
      -webkit-transform: translate3d(0, 0, 0) scale(1);
              transform: translate3d(0, 0, 0) scale(1);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translate3d(0, 60px, 0) scale(0.9, 2);
              transform: translate3d(0, 60px, 0) scale(0.9, 2);
      -webkit-filter: blur(3px);
              filter: blur(3px);
      opacity: 0;
    }
  }
  @-webkit-keyframes pulseEllipsis {
    0% {
      box-shadow: -3px 0 0 rgba(127, 101, 68, 0.6), -9px 0 0 rgba(127, 101, 68, 0.6), -15px 0 0 rgba(127, 101, 68, 0.6);
    }
    20% {
      box-shadow: -3px 0 rgba(127, 101, 68, 0.6), -9px 0 0 rgba(127, 101, 68, 0.6), -15px 0 0 #7f6544;
    }
    40% {
      box-shadow: -3px 0 0 rgba(127, 101, 68, 0.6), -9px 0 0 #7f6544, -15px 0 0 rgba(127, 101, 68, 0.6);
    }
    60% {
      box-shadow: -3px 0 0 #7f6544, -9px 0 0 rgba(127, 101, 68, 0.6), -15px 0 0 rgba(127, 101, 68, 0.6);
    }
  }
  @keyframes pulseEllipsis {
    0% {
      box-shadow: -3px 0 0 rgba(127, 101, 68, 0.6), -9px 0 0 rgba(127, 101, 68, 0.6), -15px 0 0 rgba(127, 101, 68, 0.6);
    }
    20% {
      box-shadow: -3px 0 rgba(127, 101, 68, 0.6), -9px 0 0 rgba(127, 101, 68, 0.6), -15px 0 0 #7f6544;
    }
    40% {
      box-shadow: -3px 0 0 rgba(127, 101, 68, 0.6), -9px 0 0 #7f6544, -15px 0 0 rgba(127, 101, 68, 0.6);
    }
    60% {
      box-shadow: -3px 0 0 #7f6544, -9px 0 0 rgba(127, 101, 68, 0.6), -15px 0 0 rgba(127, 101, 68, 0.6);
    }
  }
  @-webkit-keyframes fadeInOutLong {
    0%, 35% {
      opacity: 0;
    }
    40%, 85% {
      opacity: 1;
    }
    90%, 100% {
      opacity: 0;
    }
  }
  @keyframes fadeInOutLong {
    0%, 35% {
      opacity: 0;
    }
    40%, 85% {
      opacity: 1;
    }
    90%, 100% {
      opacity: 0;
    }
  }
  #loader {
    z-index: 100000;
    background: #FFCC00;
    width: 100%;
    height:100%;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
  }
  #loader .emoji, #loader .text {
    -webkit-animation-name: blurIn;
            animation-name: blurIn;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-timing-function: cubic-bezier(0.58, -0.23, 0.3, 1.3);
            animation-timing-function: cubic-bezier(0.58, -0.23, 0.3, 1.3);
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  #loader .emoji {
    display: block;
    font-size: 3.5em;
    margin-bottom: 0.2em;
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
  }
  #loader .text {
    line-height: 1;
    color: #7F6544;
    font-size: 20px;
    margin-right: -14px;
  }
  #loader .text:after {
    content: "";
    display: inline-block;
    background: transparent;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    margin-left: 18px;
    box-shadow: -3px 0 0 rgba(127, 101, 68, 0.6), -9px 0 0 rgba(127, 101, 68, 0.6), -15px 0 0 rgba(127, 101, 68, 0.6);
    -webkit-animation: pulseEllipsis 0.8s infinite both ease-in-out;
            animation: pulseEllipsis 0.8s infinite both ease-in-out;
  }
  #loader .animateOut {
    -webkit-animation-name: blurOut;
            animation-name: blurOut;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-timing-function: cubic-bezier(0.58, -0.23, 0.3, 1.3);
            animation-timing-function: cubic-bezier(0.58, -0.23, 0.3, 1.3);
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
